body {
    font-family: 'Cairo', serif;
    direction: rtl;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}

header {
    background: linear-gradient(to right, #002147, #004080);
    color: white;
    padding: 20px 0;
    position: relative;
    overflow: hidden;
    animation: fadeIn 1.5s ease-in-out;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}

nav .logo {
    font-size: 24px;
    font-weight: bold;
    color: #f8c24f;
    animation: slideInLeft 1.2s ease-in-out;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: rgb(255, 255, 255) !important;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #f8c24f;
}

.container {
    direction: rtl;
    max-width: 900px;
    margin-top: 50px;
  }

  .card {
    border-radius: 15px;
    border: none;
    background: linear-gradient(135deg, #2c3e50, #34495e);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    color: white;
  }

  .card-header {
    background-color: #34495e;
    color: #f1c40f;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding: 15px 0;
  }

  .form-group {
    margin-bottom: 20px;
  }

  .btn-primary {
    background-color: #f39c12;
    border: none;
    padding: 12px 20px;
    font-size: 18px;
    width: 100%;
    border-radius: 10px;
  }

  .btn-primary:hover {
    background-color: #e67e22;
  }

  .report-container {
    background-color: #ecf0f1;
    padding: 30px;
    border-radius: 15px;
    margin-top: 20px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  }

  pre {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 10px;
    overflow-x: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
    font-family: "Cairo";
    color: #34495e;
  }

  h2 {
    color: #2c3e50;
    font-size: 26px;
    margin-bottom: 20px;
  }

  .form-control {
    border-radius: 10px;
    border: 1px solid #bdc3c7;
    padding: 12px;
    font-size: 16px;
    margin-bottom: 20px;
  }

  .form-control:focus {
    border-color: #f39c12;
    box-shadow: 0 0 5px rgba(243, 156, 18, 0.5);
  }

  .header-logo {
    text-align: center;
    margin-bottom: 30px;
  }

  .header-logo img {
    width: 150px;
  }

